*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:black;
    width: 100%;
    height: 100vh;
    padding: 20px;

} 


.navbar{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.navbar h1{
    margin-left: 6vmin;
    font-size: 10vmin;
    color: white;
    margin-top: 6vmin;

}
.navbar h1 span{
    color: greenyellow;
}
.res{
    font-weight: 800;
    color: white;
}
.navbar ul li a {
    list-style: none;
    text-decoration: none ;
    font-size: 3vmin;
    margin-top: 120px;
    margin-left:5vmin ;

}
    

.navbar ul {
    display: flex;
    align-items: center;

    margin-left: 100vmin;
    margin-top: 5vmin;

    
}
.navbar ul li {
    margin-left: 6vmin;
}
.navbar ul li:hover{
    transform: scale(1.1);
}

.content {
    margin: 1px;
    height: 4px;
    margin-top: px;
    
    display: flex;
    padding-top: 2vmin;
  }

.text{
    color: white;

    font-size: 9vmin;
    margin-left: 11.5vmin;
    margin-top: 15vmin;
    

}
.text h2 span{
    color: aquamarine;
}

.content .text span {
    color: red;
    animation: color-change 20s infinite;
  }
  @keyframes color-change{
      0% {color:rgb(255, 7, 7)  }
      10%{color:rgb(255, 7, 127) }
      20%{color: rgb(233, 23, 188) }
      30%{color:rgb(210, 7, 255) }
      40%{color:rgb(93, 0, 255) }
      50%{color:rgb(32, 7, 255) }
      60%{color: rgb(0, 164, 253)  }
      70%{color:rgb(7, 255, 251) }
      80%{color:rgb(7, 255, 52) }
      90%{color:rgb(114, 255, 7) }
      100%{color:  rgb(255, 238, 7) }
  }
  
  .guy-image{
    margin-left: 23.9vmin;
    font-size: 10vmin;
}
.guy-image img {
    margin-top: 15vmin; 
    height: auto;
}
/* Style the container */
.name {
    text-align: center;
    margin-right: 500px;
    overflow: hidden; /* Hide the overflowing text */
    color: antiquewhite;
    
    
    
  }
  
  /* Style the name */
  .name p {
    font-size: 5vmin;
    font-weight: bold;
    margin-top:65vmin ;
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflowing text */
 /* Typing animation */
  }
  .name{
    padding-right: 50vmin;
  }
  
  /* Style the role (e.g., "Student") */
  .name span {
    font-size: 5vmin;
    font-style: italic;
    color:greenyellow;
  }
  
  /* Typing animation */
  @keyframes typing {
    from {
      width: 20%;
    }
    to {
      width: 43.25%; /* Full width */
    }
  }
  
.proj{
    
    color: whitesmoke;
    font-size: 3.5vmin;
    margin-top: 70vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.down1{
    margin-top: 1vmin;
    margin: auto;
    width: 4vmin;
    height: 2vmin;
    cursor: pointer;
}
.down1:hover{
    transform: scale(1.5);
    
}

.down1 img{
    margin-top: 2vmin;

}

/**MediaQuery2Mobile**/
@media screen and (max-width:720px){
    header{
        height: 150vh;
        padding:10px;
    }

    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        
        
    }
    .navbar h1{
        list-style: none;
        font-size: 10vmin;
        margin-top: 10%;
        margin-right: 15%;
    }
    .navbar ul{

       
        
        display: flex;
        
        margin-left: 0vmin;
        
        font-size: 1vmin;
        margin-top: 10%;
    }
    .navbar ul li{
       
        
        flood-color: aquamarine;
        margin-left: 0;
        margin-right: 4vmin;
        
    }
    .navbar ul .link{
        margin-right: 0;
    }
    .navbar ul li a{
        margin: 5vmin;
    }
    .text{
        margin-top: 15vmin;
    }
    
    .res{
        font-size: 3%;
    }
    .navbar ul li:hover{
    transform: scale(1.1);
    }
    .navbar ul .git{
        width:5vmin ;
        height:5vmin ;
    }
    
    .content {
        
        display: flex;
        flex-direction: column;
        margin-right: 3px;
        align-items: center;
        
    }
    .content .text{
        font-size: 7vmin;
        
    }
    .content .text span {
        color: red;
        animation: color-change 20s infinite;
      }
      @keyframes color-change{
          0% {color:rgb(255, 7, 7)  }
          10%{color:rgb(255, 7, 127) }
          20%{color: rgb(233, 23, 188) }
          30%{color:rgb(210, 7, 255) }
          40%{color:rgb(93, 0, 255) }
          50%{color:rgb(32, 7, 255) }
          60%{color: rgb(0, 164, 253)  }
          70%{color:rgb(7, 255, 251) }
          80%{color:rgb(7, 255, 52) }
          90%{color:rgb(114, 255, 7) }
          100%{color:  rgb(255, 238, 7) }
      }
      
    .guy-image{
        
        justify-content: center;
        align-items: center;
        
        margin-right: auto;
        margin-top: 2vmin;
        width: 100px;
        height: 400px;
       
    }
    .guy-image img {
        align-items: center;
        width: 50vmin; /* Adjust the width as needed */
        height:50vmin; /* This ensures the aspect ratio is maintained */
    }
    
    .text h2{
        text-align: center;
    }
    .text{
        
        margin-left:7%;
        margin-right: 0;

    }
    h3{
        color: aliceblue;
        font-size: 6vmin;   
    }
    .myself{
        margin-top: 110vmin;
        margin-left: 10vmin;
    }
    .proj{
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .down1{
        margin: auto;
    }

    .down1 img{
        margin-top: 2vmin;

    }
     
    
      
      
      







}






























